bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

# JetBrains Rider / Rider
.idea/
*.sln.iml
*.idea.chillhub/

.vs/
[Bb]in/
[Obj]/
*.user
*.suo

#env
**/.env
**/.env.*


**/appsettings.json
**/appsettings.Development.json
**/appsettings.*.json

**/launchSettings.json